@import"../components/color";
span.icon{
    position: absolute;
    right:10%;
}
#bars{
    position: fixed ;
    right:22%;
    font-size: 25px;
    top:20px;
    color: $btn-bg-color;
    z-index: 9991;
    cursor: pointer;
    display: none;
    transition: .5s all;
    &:hover{
        transform: scale(1.3);
    }
}
.circle1{
    position: fixed;
    z-index: 11111;
    top:-80px;
    width:266px;
    height: 256px;
    right:-22px;
    box-shadow:0 0px 0px 1px #29aba4, inset 0 0px 0px rgb(0 0 0 / 50%);
    border-radius: 50%;
}
.circle2{
    position: fixed;
    z-index: 11111;
    top:-73px;
    width:272px;
    height: 250px;
    right:-14px;
    box-shadow:0 0px 0px 1px #f47321, inset 0 0px 0px rgb(0 0 0 / 50%);
    border-radius: 50%;
}
.logo2{
    position: fixed;
    z-index: 9999;
    top: 18px;
    width: 9%;
    right: 50px;
}
.header{
    position: fixed !important;
    top:0;
    left:0;
    width:100%;
    height: 67px;
    background-color: #fff;
    box-shadow: 1px 1px 5px #80808061;
    position: relative;
    aside{
        float: left;
        margin-left: 67px;
        img.personal{
            width:35px;
            height: 35px;
            border-radius: 50%;
            position: relative;
            margin-top: 12px;
        }
        #dot{
            position: absolute;
            color:rgb(235, 177, 69);
            font-size: 10px;
            top:36px;
            left: 91px;
        }
    }
    #cog{
        position: absolute;
        left: 120px;
        top: 21px;
        font-size: 17px;
        color: #a2a2a2;
        cursor: pointer;
    }

}

.sidebar{
    position: fixed;
    height: 90%;
    width:270px;
    bottom:0;
    right:0;
    box-shadow: 0px 5px 5px #80808061;
    background-color: #fff;
    overflow: auto;
    padding-right: 25px;
    .client-info{
        margin-top:135px;
        display: flex;
        img{
            width:50px;
            height: 50px;
            border-radius: 50%;
        }
        .details{
            margin-right: 15px;
            margin-top: 6px;
            p{
                font-size: 12px;
                color:$p-black-color;
                margin-bottom: 10px;
            }
        }
    }
    .mainLinks{
        margin-top: 30px;
        position: relative;
        a{
            display: flex;
            width:100%;
            position: relative;
            height: 45px;
            #mIcon{
                margin-left: 12px;
            }
            #sIcon{
                position: absolute;
                top: 3px;
                left: -22px;
                font-size: 11px;
            }
            h4{position: relative; transition: .4s;}
            h4::after{
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }
            &:hover h4{
                padding-right: 25px;
            }
            &:hover h4::after{
                opacity: 1;
                right: 0;
                font-size: 12px !important;
            }
        }
    }
}

.content{
    height: calc(100% - 67px);
    width: calc(100% - 270px);
    background-color:#edeaea38;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top:25px;
    padding-right: 30px;
    .carousel{
        margin-top: 85px;
        padding:10px
    }
    .subscription{
        width:430px;
        height: 265px;
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0px 0px 3px #cfcdcd;
        position: relative;
        padding-top: 55px;
        padding-right: 10px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: grab;
        .icon{
            position: absolute;
            width:100px;
            height: 100px;
            background-color: #009a95;
            border-radius: 50%;
            left:41%;
            top: -20%;
            .iconImage{
                width: 55px;
                height: 55px;
                position: absolute;
                top: 21px;
                right: 22px;
            }
        }
        input[type=button]{
            overflow: visible;
            outline: none;
            border: none;
            border: .5px solid #b9b0b030;
            width: 85%;
            padding: 8px;
            height: 35px;
            border-radius: 5px;
            background-color: $btn-bg-color;
            color:$btn-color;
            margin-top: -3px;
        }
    }
}

.payment{
    margin-top: 58px;
    .card{
        width:75%;
        height: 60px;
        cursor: pointer;
        margin-top: 15px;
        a{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            img{
                width:50px;
                margin-left: 12px;
                height: 30px;
                margin-right: 15px;
            }
            h4{font-size: 18px;color:#000; font-weight: 700;}
            svg{
                position: absolute;
                left:32px;
                font-size: 18px;
                color: #c1bcbc;
            }
        }
        
    }
}

.form{
    background-color: transparent;
    margin:35px 25px;
    label{
        display: block;
        margin-bottom: 6px;
        font-size: 14px;
        color: gray;
    }
    input{
        width:52%;
        outline: none;
        border: .5px solid #b9b0b041;
        height: 37px;
        border-radius: 6px;
        padding:10px;
        margin-bottom: 15px;
        transition: .4s;
        color:rgba(153, 149, 149, 0.733);
        font-size: 12px;
        &[type=file]{
            opacity: 0;
            position: absolute;
            width: 52px;
            bottom: 15%;
            height: 52px;
            cursor: pointer;
        };
        &[type=button]{
            width:22%;
            background-color: $btn-bg-color;
            height: 50px;
            border-radius: 6px;
            color:#fff;
            font-weight: 700;
            margin-top: 15px;
            display: block;
        }
        &::placeholder{
            color:rgba(153, 149, 149, 0.733);
            font-size: 12px;
        }
        &:focus{
            border-radius: 0px 15px;
            box-shadow: 0px 0px 5px #e4d1d1ba;
            padding-right: 20px;
        }
    }
    .image{
        width:50px;
        height: 50px;
        background-color: $h-color;
        opacity: .1;
        border-radius: 6px;
        svg{
            font-size: 30px;
            color: #fff;
            margin-top: 10px;
            margin-right: 9px;
        }
    }
}

@media(max-width:768px){
    input:not(#hidden){width:100% !important;}
    textarea{width: 100% !important;}
    
    #downArrow{left: 5% !important; right: auto !important;}
}
